<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="local-nuget" value="local-nuget" />
    </packageSources>
    <packageSourceMapping>
        <!-- Map SnapcastClient to local repositories -->
        <packageSource key="local-nuget">
            <package pattern="SnapcastClient" />
        </packageSource>
        <!-- Map all other packages to nuget.org -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
