<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github-snapcast-net" value="https://nuget.pkg.github.com/metaneutrons/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-snapcast-net>
      <add key="Username" value="metaneutrons" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github-snapcast-net>
  </packageSourceCredentials>
  <packageSourceMapping>
    <!-- Map SnapCastNet to GitHub Packages -->
    <packageSource key="github-snapcast-net">
      <package pattern="SnapCastNet" />
    </packageSource>
    <!-- Map all other packages to nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
